{% extends 'base.html' %}

{% block content %}
<h2>Add Patient</h2>
<form method="POST" action="{{ url_for('main.add_patient') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label }} 
        {{ form.name(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.age.label }} 
        {{ form.age(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.condition.label }} 
        {{ form.condition(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}
